body{
    background-image: url("../resources/images/background.jpg");
}
.content{
    background-color: transparent;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}
.image{
    width: 301px;
    height: 200px;
}
#intro{
    font-size: large;
    color: #FFFFFD;
}
