.contact_us{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    background: transparent;
}
#contact{
    background-color: black;
}
#contact_form{
    background-color: white;
    border-collapse: collapse;
}