.footer{
    background: transparent;
    margin-left: 40px;
    margin-right: 40px;

    color: white;
}
.social_media ul li{
    list-style: none;
    float: left;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}